*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}

html,body{
    height: 100%;
    width: 100%;

}
#parrent{

    background-color: rgb(234, 240, 241);
    height: 100%;
    width: 100%;
    padding: 0px  40px ;
  
    
}
#nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;


}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;

}
#nav h3{
    font-size: 17px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;

}

#nav i{
    font-size: 17px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;

}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

}

#nav button{
    padding: 7px 12px ;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 17px;
    font-weight: 600;
  

}
#btn2{
    color: white;
background-color: orangered;
border: none;

}
#adv{
    font-size: 130px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;

}
img{
    height: 410px;
    width: 360px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50% , -50%);
}
#img1{
    transform: translate(-50% , -50% ) rotate(-40deg);
    
}
#img2{
    transform: translate(-50% , -50% ) rotate(-30deg);
    
}
#img3{
    transform: translate(-50% , -50% ) rotate(-20deg);
    
}
#img4{
    transform: translate(-50% , -50% ) rotate(-10deg);
    
}
#btmleft{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 20px;

}

#arrow{
    font-size: 50px;
    position: absolute;
    object-position: bottom;
    top: 90%;
    left: 50%;
   align-items: baseline;
    border: 2px solid black;
    border-radius: 50px;

}